<div>
    <h2>Àlbumes</h2>

    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" >Title</label>
            <input type="text" class="form-control" ng-model="TitleFilter" placeholder="Title">
        </div>
        <div class="form-group">
            <label class="sr-only">Brand</label>
            <input type="text" class="form-control"  placeholder="Brand" ng-model="BrandFilter">
        </div>
        <input type="text" class="form-control" name="Género" placeholder="Género" ng-model="GeneroFilter">
        <datalist id="gerensList">
            <option value="Groove Metal">
            <option value="Cambridge">
        </datalist>
        <div>
            <label><input type="checkbox" ng-model="FavoutiteFilter"> Favorito</label>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Title</th>
            <th>Brand</th>
            <th>Género</th>
            <th>Año</th>
            <th>Favorito</th>
        </tr>
        </thead>
        <tbody ng-init="prepareDate()">
            <tr ng-repeat="album in albums | orderBy:'title' | filter : {title:TitleFilter} | filter : {genreName: GeneroFilter} | filter : {brandName: BrandFilter} | filter : {favourite: FavoutiteFilter}"
                    album-Element
                    album = "album">

            </tr>
        </tbody>
    </table>
</div>