<div class="container">
    <h2>Bandas</h2>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" >Band</label>
            <input type="text" class="form-control" ng-model="BandFilter" placeholder="Band" >
        </div>
        <div class="form-group">
            <label class="sr-only">Origin</label>
            <input type="text" class="form-control"  placeholder="Origin" ng-model="OriginFilter">
        </div>

    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
            <th>Members</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="band in bands | orderBy : 'name' | filter : { name: BandFilter} | filter : { origin: OriginFilter}"
                band-element
                    band = "band"></tr>
        </tbody>
    </table>

</div>