<article ng-init="takeOneAlbum()" class="container">

    <header><h4>{{::album.title}}</h4></header>
    </br>
    <img ng-src="{{album.image}}" alt="Image" width="264">
    <p><strong>Band: </strong>{{::album.band.name}}</p>
    <p><strong>Género: </strong>{{::album.genre.name}}</p>
    <p><strong>Tracklist: </strong></p>
    <ul>
        <li ng-repeat="tracklist in album.tracklist">{{::tracklist}}</li>
    </ul>
    <a href="{{album.wikiurl}}" style="padding-bottom:20px">Go to Wikipedia</a>
    </br>

</article>
